.about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.about-text {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about-image img {
    max-width: 85%;
    height: auto;
    border-radius: 10px;
}
